.ipynb_checkpoints/
*.json
__pycache__/
*.jsonl
log/
setting_env.sh
*.out
*.err
*.zip
data/
*.log
*log*
*.pyc
*.pt
*cache*
*.db
*.html
*.yml
data/
outputs/
run_inference_gene_data.sh
slurm_job.sh
scripts/run_pipeline.sh
slurm_job.sh
run.sh
deepseek_server.sh
eval.ipynb
keep_run_deepseek.sh
keep_run.sh
make_umls_dictionary.ipynb
process_coral_breastcancer.sh
run_inference_deepseek.sh
fake_notes_from_william/*
umls_body_loc_dictionary.txt
umls_dictionary.txt
.task/
*.csv
